
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.food-area {
    background-color: #ffffff;
    padding: 100px 0;
  }
  .container {
    width: 1170px;
    margin: 0 auto;
  }
  .title {
    text-align: center;
    margin-bottom: 60px;
  }
  .title p {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 50px;
  }
  .title h4 {
	text-transform: uppercase;
	font-size: 40px;
	margin-top: 5px;
  margin-bottom: 30px;
}

.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .singlefood {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(214, 208, 208);
    border-radius: 12px;
    margin-bottom: 30px;
    overflow: hidden;
    flex-basis: 30%;
    /* z-index: -1; */
  }
  .food-img {
    position: relative;
    height: 220px;
    overflow: hidden;
    width: 100%;
  }
  .food-img img {
    border-radius: 12px 12px 12px 12px ;
    transition: .3s;
  }
  .food-img h4 {
    position: absolute;
    left: 0;
    top: -60px;
    background-color: #ff7720;
    color: #fff;
    text-transform: capitalize;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 600;
    transition: .3s;
  }
  .singlefood:hover .food-img h4 {
    top: 0;
  }
  .singlefood:hover img {
	transform: scale(1.2) rotate(3deg);
}

.food-list {
    padding: 20px;
    list-style: none;
  }
  .food-list li {
    font-weight: 400;
    font-size: 18px;
    
    justify-content: space-between;
    border-bottom: 1px dashed rgb(18, 17, 17);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .food-list li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 25px;
    font-weight: 600;
  }
  .pos button {
    text-decoration: rgb(249, 250, 249);
    background-color: #ff7720;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 10px 20px;
    width: 160px;
    margin: 20px auto 25px auto;
    border-radius: 20px;
    transition: .1s;
  }
  .pos button:hover {
    background-color: rgb(41, 189, 110);
    transform: scale(1.1);
  }
  .pos:hover{
    transform: scale(1.1);
  }
  .singlefood:hover{
    transform: scale(1.1);
  }
  .but button {
    text-decoration: rgb(249, 250, 249);
    background-color: #fefdfc;
    color: rgb(32, 30, 30);
    text-transform: uppercase;
    font-weight: 600;
    width: 30px;
    margin: 25px auto 25px auto;
    border-radius: 8px;
    transition: .1s; 
    font-size: larger;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: -20px;
    margin-top: -20px;
    
    /* padding: 5px 15px; */
    
    /* display: block;
    */
  }
  .but button:hover {
    background-color: rgb(41, 189, 110);
    transform: scale(1.1);
  }
  .but:hover{
    transform: scale(1.1);
  }
  .fle{
    display: flex;
  }
  
  
@media only screen and (min-width:992px) and (max-width:1170px) {
  .container{
      width: 970px;
  }
}

@media only screen and (min-width:768px) and (max-width:991px) {
  .container{
    flex-direction: column;
      width: 750px;
  }
  .single-food{
      flex-basis: 49%;
  }
}

@media only screen and (max-width:767px) {
  .container{
      width: 350px;
  }
  .single-food{
      flex-basis: 100%;
  }
}